.ov-hidden {
  overflow: hidden;
}

.splash-screen {
  background-color: rgb(17, 17, 17);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 200;
  clip-path: circle(70.7% at 50% 50%);
  transition: 1s clip-path;
}

#instructions {
  position: absolute;
  color: #fff;
  bottom: 0;
  padding-bottom: 6px;
  font-family: sans-serif;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.close-splash {
  clip-path: circle(0);
}