.controls-container {
    width: 80%;
    margin: 0 auto;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.controls-container .btn-control {
    color: #fff;
}

.creation-container {
    width: 80%;
    margin: 10px auto;
    position: relative;
}

.creation-item:not(.creation-item:first-child){
    position: absolute;
    top: 0;
    clip-path: inset(0 0 0 100%);
}

.creation-item-open {
    clip-path: inset(0 0 0 0) !important;
}
